<body id="container-about">

  <ul class="nav-button-list-pages">

    <li id="home-page"><a href="/welcome/index.html" class="button">Home</a></li>
    <li id="about-page"><a href="/static_pages/about.html" class="button">About</a></li>
    <li id="web-page"><a href="/static_pages/web.html" class="button">Web</a></li>
    <li id="graphics-page"><a href="/static_pages/graphics.html" class="button">Graphics</a></li>
    <li id="multi-page"><a href="/static_pages/multimedia.html" class="button">Multimedia</a></li>
    <li id="art-page"><a href="/static_pages/art.html" class="button">Art</a></li>
  </ul>

<div class="about-info">
  <h1>About me</h1>
  <p>Born and raised in Southern California, I have always had a passion for being creative and finding any artistic outlet to express my authentic self.
    <br><br>
    With an adventurous spirit, I have explored life through diverse experiences, including travel, classes, exploration, and work in various industries...creative and not-so-creative.
    <br><br>
    I attended Academy of Art University (San Francisco, California) for Fine Art, Digital Photography, Jewelry, and Liberal Arts, which opened up my exploration of different mediums and refined my skills. There, producing 2D and 3D works, I was awarded “Best Emerging Artist” at one of the Juried Spring Shows. My ceramic and bronze sculptures gained notice by instructors and art professionals, as well as my unique handmade jewelry designs.
    <br><br>
    I was awarded First Place in the 3rd Annual Southern California B&#38;W Juried Exhibition in La Jolla, California, for one of my charcoal drawings.
    <br><br>
    I am often influenced by my love of nature, animals, travel, cultures, personal experiences, and emotional connections. And, sometimes will throw in some sense of humor or edgy textures. I like to convey a message or story through my creations and my greatest satisfaction is the viewer’s reaction and enjoyment.
    Expanding my experience in the arts and previous background in advertising and entertainment, I continued my education in graphic design, multimedia, and web design software in San Diego, California. I am open to new opportunities to use my combined skills and creativity. I have an eye for detail and have a taste for exciting and unique designs. I push myself and strive to think outside the box and enjoy the process of conceptualizing creative, simple and effective designs for getting the message across or just the beauty of whatever it is I am creating.
    Full Resume, references, and additional information available upon request. Please feel free to contact me anytime at the email link below. Thanks for visiting my website.
  </p>
</div>

<div class="me">
  <img src="/images/Scan10374.jpg" alt="Tania Kelvin young at halloween" style="width:304px;height:228px;">
</div>
