<body id="container-art"></body>

<ul class="nav-button-list-pages">
  <!-- <li id="home-page"><a href="/welcome/index.html" class="button">Home</a></li> -->
  <li id="home-page"><a href="/welcome/index.html" class="button"><%= image_tag("colorlogo.jpg", class:"logo", alt:"Tania Kelvin Logo") %></a></li>
  <li id="about-page"><a href="/static_pages/about.html" class="button">About</a></li>
  <li id="web-page"><a href="/static_pages/web.html" class="button">Web</a></li>
  <li id="graphics-page"><a href="/static_pages/graphics.html" class="button">Graphics</a></li>
  <li id="multi-page"><a href="/static_pages/multimedia.html" class="button">Multimedia</a></li>
  <li id="art-page"><a href="/static_pages/art.html" class="button">Art</a></li>
</ul>
