<html>
<body id="container-multi">

  <ul class="nav-button-list-pages">
    <!-- <li id="home-page"><a href="/welcome/index.html" class="button">Home</a></li> -->
    <li id="home-page"><a href="/welcome/index.html" class="button"><%= image_tag("colorlogo.jpg", class:"logo", alt:"Tania Kelvin Logo") %></a></li>
    <li id="about-page"><a href="/static_pages/about.html" class="button">About</a></li>
    <li id="web-page"><a href="/static_pages/web.html" class="button">Web</a></li>
    <li id="graphics-page"><a href="/static_pages/graphics.html" class="button">Graphics</a></li>
    <li id="multi-page"><a href="/static_pages/multimedia.html" class="button">Multimedia</a></li>
    <li id="art-page"><a href="/static_pages/art.html" class="button">Art</a></li>
  </ul>

<!-- <video controls="controls" width="800" height="600" name="Video Name" src="http://www.myserver.com/myvideo.mov"></video> -->


<div id="manifest">
  <h1>Multimedia</h1>
  <p> For a 30 second video project, I created an original film story to produce, direct, film, edit, and create a score for this teaser.
  </p>
  <iframe width="560" height="315" name="Manifest" src="https://www.youtube.com/embed/ADoO2NScqxg" frameborder="0" allowfullscreen>
  </iframe>
</div>

<div id="bliss">
  <p>This is a rough, unfinished documentary for a 5 minute video project. I created this video solo, from start to finish. Because of the time constraint, many edits had to be made. The background music is by Ryan Gerard, the subject of this video.
  </p>
  <iframe width="560" height="315" src="https://www.youtube.com/embed/laeuV46oewQ" frameborder="0" allowfullscreen>
  </iframe>
</div>

<div id="gunk">
  <p>This is a banner ad made in Adobe Flash. I created the images, animation, concept, and product name. <br>
    Note: This may not be viewable on tablets and phones.
  </p>
  <!-- <%= image_tag("solidgunkbanner.swf", class:"solidgunkbanner", alt:"Solid Gunk animated banner ad") %> -->
  <embed src="<%= asset_path('solidgunkbanner.swf') %>"
       type="application/x-shockwave-flash" width="560" height="70"/>
</div>


</body>
</html>
