<div class="background-container-about" id="about-body">
  <ul class="nav-button-list">
    <li id="home"><a href="welcome/index.html" class="button">Home</a></li>
    <li id="about"><a href="/about.html" class="button">About</a></li>
    <li id="web"><a href="/web.html" class="button">Web</a></li>
    <li id="graphics"><a href="/graphics.html" class="button">Graphics</a></li>
    <li id="multi"><a href="/multimedia.html" class="button">Multimedia</a></li>
    <li id="art"><a href="/art.html" class="button">Art</a></li>
  </ul>

</div>
