a {
	text-decoration: none;
	color: white;
}
.background-container-about {
	// width: 100vw;
	// height: 100vh;
	background-color: #000;
}

li {
  display: inline;
}

ul.nav-button-list {
	display: none;
}
