/*backgrounds*/
body#container-about {
  background-color: black;
}

body#container-web {
  background-color: #5b387a;
}

body#container-graphics {
  background-color: #3f793c;
}

body#container-multi {
  background-color: #0e5978;
}

body#container-art {
  background-color: #2f3083;
}

/*navigation on pages*/
ul.nav-button-list-pages {
  list-style-type: none;
  display: inline-block;
}

a {
  display: block;
  width: 60px;
}

ul.nav-button-list-pages > li {
  float: left;
  text-align: left;
  padding-right: 10px;
  margin-left: 10px;
  margin-top: -50px;
  margin-bottom: -50px;
  font-weight: bold;
  text-shadow:3px 3px 9px black;
  font-size: .80em;
}

li#home-page :visited {
  color: #b80909;
}

li#home-page :active {
  color: yellow;
}

li#about-page :visited {
  color: grey;
}

li#about-page :active {
  color: yellow;
}

li#web-page :visited {
  color: #5b387a;
}

li#web-page :active {
  color: yellow;
}

li#graphics-page :visited {
  color: #3f793c;
}

li#graphics-page :active {
  color: yellow;
}

li#multi-page :visited {
  color: #0e5978;
}

li#multi-page :active {
  color: yellow;
}

li#art-page :visited {
  color: #2f3083;
}

li#art-page :active {
  color: yellow;
}

ul.nav-button-list-pages > li :active {
    color: yellow;
}

ul.nav-button-list-pages > li :hover {
  text-align:center;
  color:#fff;
  letter-spacing: 3px;
  font-weight:600;
  // text-transform:uppercase;
  animation:blur .50s ease-out;
  text-shadow:0px 0px 5px #fff,
      0px 0px 7px #fff;
}

@keyframes blur{
  from{
      text-shadow:0px 0px 10px #fff,
      0px 0px 10px #fff,
      0px 0px 25px #fff,
      0px 0px 25px #fff,
      0px 0px 25px #fff,
      0px 0px 25px #fff,
      0px 0px 25px #fff,
      0px 0px 25px #fff,
      0px 0px 50px #fff,
      0px 0px 50px #fff,
      0px 0px 50px #7B96B8,
      0px 0px 80px #7B96B8,
      0px 5px 50px #7B96B8,
      0px 5px 50px #7B96B8,
      0px 5px 50px #7B96B8,
      0px 5px 50px #7B96B8,
      0px -5px 50px #7B96B8,
      0px -5px 50px #7B96B8;}
}

/*about page content*/
.about-info {
  font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
  margin-left: 50px;
  margin-right: 50px;
  font-size: .75em;
  color: grey;
  text-align: justify;
  width: 70%;
  height: 70%;
  background-color: #082951;
  padding: 10px 25px 10px 25px;
  margin-top: 50px;
}

h1 {
  font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
  font-size: 1.5em;
  margin-top: 3px;
  margin-top: 20px;
}

.about-info img {
  width: 100%;
  height: 100%;
  float:left;
}

/*multimedia page content */
#manifest {
  margin-left: 50px;
  margin-right: 20px;
  margin-top: 50px;
  font-size: .75em;
  text-align: justify;
  width: 560px;
  height: 70%;
  padding: 10px 25px 10px 25px;
  color: black;
}

#manifest h1 {
font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
font-size: 1.5em;
margin-left: 3px;
margin-top: 20px;
color: black;
}

#bliss {
  margin-left: 50px;
  margin-right: 20px;
  margin-top: 20px;
  font-size: .75em;
  text-align: justify;
  width: 560px;
  height: 70%;
  padding: 10px 25px 10px 25px;
  color: black;
  float: left;
}

img {
  width: 100%;
  height: 100%;
}
