// a {
// 	text-decoration: none;
// 	color: white;
// }
// .background-container-about {
// 	// width: 100vw;
// 	// height: 100vh;
// 	background-color: #000;
// }
//
// li {
//   display: inline;
// }
//
// ul.nav-button-list {
// 	display: none;
// }


// .background-container-index {
//   display: none;
// }


body#container-about {
  background-color: black;
}

body#container-web {
  background-color: #5b387a;
}

body#container-graphics {
  background-color: #3f793c;
}

body#container-multi {
  background-color: #0e5978;
}

body#container-art {
  background-color: #2f3083;
}
