// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
	font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
	font-size: 1.5em;
	font-weight: 200;
	background: #000;
	margin: 0;
	padding: 0;
	color: white;
}

/* ~~ this fixed width container surrounds the other divs ~~ */
.background-container {
	width: 100vw;
	height: 100vh;
	background-image: url(bizcardweb1nobtns.jpg);
	background-color: #000;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	margin: 0 auto; /* the auto value on the sides, coupled with the width, centers the layout */
	position: relative;
}

// .mousehover {
// 	filter: Glow;
// }

ul.nav-button-list {
	padding-top: 100vh;
}

ul.nav-button-list > li {
	text-align: center;
	display: block;
	background-color: #3f793c;;
	margin: 1em auto 1em auto;
	border-color: white;
	border-width: thin;
	border-style: solid;
	width: 40%;
	height: 6em;
	line-height: 6em;
}

#about {

}



@media (min-width: 720px) {

	ul.nav-button-list {
		padding: 0;
		margin: 0;
	}

	ul.nav-button-list > li {
		display: inline-block;
		background-color: #5b387a;
		margin: 2em;
		margin-top: 10%;
		border-color: white;
		border-width: thin;
		border-style: solid;
		width: 40%;
		height: 6em;
		line-height: 6em;
	}

	ul.nav-button-list > li:hover {
		background-color: red;
		padding: 10px;
	}
}
.arrow-down {
	width: 0;
	height: 0;
	border-left: 60px solid transparent;
	border-right: 60px solid transparent;
	border-top: 60px solid #f00;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10%;
	display: block;
}

@media (min-width: 900px) {
	ul.nav-button-list > li {
		background-color: #2f3083;
	}
}
@media (min-width: 1024px) {
	ul.nav-button-list > li {
		background-color: #0e5978;
	}
}



/* Media Queries
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/*
Note: The best way to structure the use of media queries is to create the queries
near the relevant code. For example, if you wanted to change the styles for buttons
on small devices, paste the mobile query code up in the buttons section and style it
there.
*/
// .container          {max-width: 100%; height: auto;}
// nav section, .menu  {text-align: center;}
// .menu            	{list-style-type: none;}
// .menu ul li         {display: inline;}
// .menu ul li a       {color: #CC1C0D; text-decoration: none; font-weight: 600;}
// select              {width: 95%;}
// .menu				{display:none;}
//
// /* Larger than mobile */
// @media (min-width: 400px) {
//     .menu           {text-align: center; }
//     .menu ul        {margin:0 0 20px 0;}
//     .menu ul li     {margin:0 10px;}
//     .menu ul li a   {font-size: 90%;}
// }
//
// /* Larger than phablet (also point when grid becomes active) */
// @media (min-width: 550px) {
//     .menu           {text-align: right; display: block;}
//     .menu ul        {margin: 50px 0 0 0;}
//     .menu ul li     {margin:0 3px;}
//     .menu ul li a   {font-size: 75%;}
// 	.slicknav_menu 	{display:none;}
// }
//
// /* Larger than tablet */
// @media (min-width: 750px) {
//     .menu ul li     {margin-left: 20px;}
//     .menu ul li a   {font-size: 100%;}
// }
//
// /* Larger than desktop */
// @media (min-width: 1000px) {}
//
// /* Larger than Desktop HD */
// @media (min-width: 1200px) {}
