a {
	text-decoration: none;
	color: white;
}

// a.outside-link:visited {
// 	color: limegreen;
// }

body {
	font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
	font-size: 1.5em;
	font-weight: 200;
	background: #000;
	margin: 0;
	padding: 0;
}

/*Quadrant design with center logo */
.background-container {
	width: 100vw;
	height: 100vh;
	background-image: url(bizcardweb1nobtns.jpg);
	background-color: #000;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	margin: 0 auto; /* the auto value on the sides, coupled with the width, centers the layout */
	position: relative;
}



/*Media query 0-720 CELL/SMART PHONES*/
ul.nav-button-list {
	padding-left: 0;
}

.arrow-list {
	padding-top: 90vh;
}

ul.nav-button-list > li {
	text-align: center;
	display: block;
	margin: 1em auto 1em auto;
	border-color: white;
	border-width: thin;
	border-style: solid;
	width: 40%;
	height: 6em;
	line-height: 6em;
}

.arrow-down {
	width: 0;
	height: 0;
	border-left: 60px solid transparent;
	border-right: 60px solid transparent;
	border-top: 60px solid #b80909;
	// padding-top: 90%;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10%;
	display: block;
}

#about {
	border: thick solid white;
}

#web {
	border: thick solid #5b387a;
}

#graphics {
	border: thick solid #3f793c;
}

#multi {
	border: thick solid #0e5978;
}

#art {
	border: thick solid #2f3083;
}
/*END Media query 0-720 CELL/SMART PHONES*/


/*Media query 720-900 */
@media (min-width: 720px) {
	.background-container{
		position: relative;
	}

	.arrow-down {
		display: none;
	}

	.arrow-list {
		padding-top: 0;
	}

	ul.nav-button-list {
		padding: 0;
		margin: 0;
	}

	ul.nav-button-list > li {
		display: inline-block;
		background-color: #5b387a;
		margin: 2em;
		margin-top: 10%;
		border: thin solid black;
		width: 25%;
		// height: 5em;
		// line-height: 6em;

		position: absolute;
	}

	ul.nav-button-list > li:hover {
		// background-color: white;
		filter: opacity(10%);
		padding: 5px;
	}

	#about {
		margin-top: auto;
		margin-bottom: auto;
		position: absolute;               /* 2 */
    top: 50%;                         /* 3 */
    transform: translate(-50%, -50%);   /* 4 */
		margin-left: 50%;
		margin-right: auto;
		width: 13em;
		height: 12em;
		border: none;
	}

	#about .button {
		display: none;
		border: none;
		height: 100%;
		// width: 50vh;
		// left: 20%;
		// left: 9.4em;
	}

	#about:hover .button {
		color: white;
		text-decoration: none;
		font-weight: 700;
		font-size: 2em;
		text-align: center;
		line-height: 5.2em;
		filter: opacity(.5);
		display: block;

	}

	#web {
		// top: .2em;
		left: .5em;
		bottom: 22em;
		border-color: black;
		border-width: thin;
		border-style: solid;
		// margin-left: 6%;
		// margin-left: 38%;
		// margin-top: 21%;
		// width: 25%;
		// height: 10em;
	}

	#graphics {
		// top: .2em;
		right: .5em;
		bottom: 22em;
		border-color: black;
		border-width: thin;
		border-style: solid;
		// margin-left: 23%;
	}

	#multi {
		bottom: .5em;
		left: .5em;
		border-color: black;
		border-width: thin;
		border-style: solid;
		// margin-left: 6%;
	}

	#art {
		bottom: .5em;
		right: .5em;
		border-color: black;
		border-width: thin;
		border-style: solid;
		// margin-left: 6%;
	}
}
/*END Media query 720-900 */


/*Media query 900-1024 */
@media (min-width: 900px) {
	ul.nav-button-list > li {
		background-color: #0e5978;
	}
	// #about {
	// 	background-color: white;
	// 	color: black;
	// 	width: 10em;
	// 	height: 10em;
	// 	left: 9.4em;
	// 	top: 6.8em;
	// }

	// #web {
	// 	// top: .2em;
	// 	left: .5em;
	// 	bottom: 25em;
	// }
	//
	// #graphics {
	// 	// top: .2em;
	// 	right: .5em;
	// 	bottom: 25em;
	// }
	//
	// #multi {
	// 	bottom: .5em;
	// 	left: .5em;
	// }
	//
	// #art {
	// 	bottom: .5em;
	// 	right: .5em;
	// }
}
/*END Media query 900-1024 */


/*Media query 1024+ */
@media (min-width: 1024px) {
	ul.nav-button-list > li {
		background-color: #2f3083;
	}
}
/*END Media query 1024+ */
